# Compressed Files
*.tar.gz

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ./configure and make output
.deps
.libs

sample_coach
sample_player
sample_trainer

Makefile
Doxyfile

config.h
config.log
config.status

autom4te.cache
*.sh
librcsc-config
librcsc.pc
librcsc.spec
librcscenv
libtool
rcg2txt
rcgrenameteam
rcgresultprinter
rcgreverse
rcgverconv
rcgversion
rclmscheduler
rclmtableprinter
stamp-h1
